* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Arial", sans-serif;
    background-color: #F0F0F0;
}

.container {
    width: 100%;
    min-width: 360px;
    max-width: 768px;

    margin: 0 auto;
    padding: 0 1rem;
}

.ship {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    margin-top: 2rem
}

.ship__title {
    font-weight: 700;
    font-size: 1.2rem;
}

.form {
    margin-top: 2rem;
}

.label {
    display: block;
    margin-bottom: 0.5rem;

    font-weight: 700;
    text-transform: uppercase;
}

.button, .input, .textarea, select {
    border-radius: 5px;
    border: none;
    outline: 2px solid #000;
    background-color: #fff;
    font-size: 1.2rem;
    padding: 0.5rem;
}

.button:focus, .input:focus, .textarea:focus, .select:focus {
    outline: 3px solid #614BC3;
}

.button--submit {
    margin-top: 2rem;
    cursor: pointer;
    background-color: #f7c52a;
    font-weight: 700;
}

.input-container {
    margin-top: 1.2rem;
}

.input-container--gallery {
    margin-top: 3rem;
}

.gallery {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    width: 100%;
    gap: 1rem;
}

.gallery__link {
    display: inline-block;
    overflow: hidden;
    width: 170px;
    height: 170px;
    border-radius: 10px;
    outline: 3px solid #000;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.input {
    width: 100%;
}

.textarea {
    width: 100%;
    resize: none;
    height: 20rem;
}

.alert {
    font-weight: 700;

    padding: 1rem;
    margin-top: 2rem;

    border-radius: 12px;
}

.alert--success {
    background-color: #A8DF8E;
}
